DB_HOST=localhost
DB_PORT=5432
DB_NAME=vigilante_recognition
DB_USER=julio
DB_PASSWORD=password
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
LOG_LEVEL=INFO
